.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    margin: 0 auto;
    text-decoration: none;
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 2;
    transition: background-color 1s, ease-in-out 0.5s;
}

  .feynman__link:hover {
    opacity: 0.5;
    background-color: #f2f2f2;
}