.khan__buy-link {
    margin: 0;
    padding-left: 48px;
    text-decoration: none;
    color: #2f80ed;
    transition: background-color 1s, ease-in-out 0.5s;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.khan__buy-link:hover {
    opacity: 0.5;
    background-color: #f2f2f2;
}